<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean for the Actor class-->
    <bean id="actorid" class="com.stackroute.domain.Actor">
        <property name="name" value="sharukh"/>
        <property name="gender" value="male"/>
        <property name="age" value="50"/>
    </bean>

    <!--bean for the Movie class-->
    <bean id="movieid" class="com.stackroute.domain.Movie">
    <property name="actor" ref="actorid"/>
    </bean>



</beans>
